body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9fafb;
    color: #333333;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 40px 20px;
}

h1 {
    color: #861888;
    margin-bottom: 30px;
    font-weight:bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 4px;
    max-width: 700px;
}

h2 {
    color: #4c2771;
}

.highlight {
    color: #a0054e;
    font-weight: bold;
    font-size: 2rem;
}

a {
    color: #d178e3;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #322771;
}
